/* СБРОС */
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ОБЩИЕ */

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* HERO */

.hero-section{
    width: 100%;
    height: 100vh;

    background-image: url('../images/hotel-bg.jpg');
    background-size: cover;
    background-position: center;

    position: relative;
}

/* затемнение */

.hero-section::before{
    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.30);
}

/* HEADER */

.header{
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;

    padding-top: 25px;
}

/* МЕНЮ */

.nav-container{
    width: 90%;
    max-width: 1400px;

    margin: auto;

    background: #5B8AA4;

    border-radius: 60px;

    padding: 20px 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 2;
}

/* ссылки */

.nav-menu{
    display: flex;
    gap: 40px;
}

.nav-menu a{
    text-decoration: none;

    color: white;

    font-size: 18px;
    font-weight: 600;

    transition: 0.3s;
}

.nav-menu a:hover{
    opacity: 0.7;
}

/* телефон */

.phone{
    cursor: pointer;
    opacity: .8;
    color: white;

    font-size: 18px;
    font-weight: 600;
}

/* HERO CONTENT */

.hero-content{
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: relative;
    z-index: 2;

    padding-right: 80px;
}

/* ТЕКСТ */

.hero-text{
    width: 1000px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 300px;
}

/* заголовок */
.hero-text h1{
    color: white;

    font-size: 72px;
    font-weight: 600;

    line-height: 1.2;

    margin-bottom: 40px;

    text-align: right;
}

/* БЕГУЩАЯ СТРОКА */

.advantages-wrapper{
    position: absolute;

    bottom: 40px;
    left: 0;

    width: 100%;

    overflow: hidden;

    z-index: 3;
}

.advantages-track{
    display: flex;

    gap: 80px;

    width: max-content;

    animation: marquee 20s linear infinite;
}

.advantages-track span{
    color: white;

    font-size: 28px;
    font-weight: 600;

    white-space: nowrap;
}

/* АНИМАЦИЯ */

@keyframes marquee{

    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-50%);
    }

}
/* ABOUT */

.about-section{
    padding: 10px 0 80px 0;

    background: white;
}

.about-wrapper{
    display: flex;

    align-items: center;
    justify-content: space-between;

    gap: 5px;
}

/* ФОТО */

.about-image{
    width: 45%;

    margin-left: -270px;

    margin-top: 90px;
}

.about-image img{
    width: 150%;

    height: auto;

    border-radius: 10px;

    display: block;
}

/* ТЕКСТ */

.about-text{
    width: 55%;
}

/* ЗАГОЛОВОК */

.about-text h2{
    font-size: 35px;

    font-weight: 600;

    color: #2B2B2B;

    margin-bottom: 30px;

    line-height: 1.2;
}

/* ОСНОВНОЙ ТЕКСТ */

.about-text p{
    font-size: 22px;

    line-height: 24.4px;

    color: #2B2B2B;

    margin-bottom: 22px;

    font-weight: 400;
}

.about-text p:last-child{
    margin-bottom: 0;
}

/* ROOMS */

.rooms-section{

    padding-top: 10px;
    padding-bottom: 80px;
}

.rooms-title{

    font-size: 45px;
    font-weight: 600;

    color: #5B8AA4;

    margin-bottom: 40px;

    text-align: left;

    margin-left: 260px;
}

/* ОБЩИЙ КОНТЕЙНЕР */

.rooms-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* СТРЕЛКИ */

.arrow{
    width: 55px;
    height: 55px;

    border-radius: 50%;
    border: none;

    background: #5B8AA4;
    color: white;

    font-size: 26px;

    cursor: pointer;
}

/* ОКНО */

.slider-window{
    width: 1000px;
}

/* СЛАЙД */

.slide{
    display: none;
    align-items: center;
    gap: 0;
}

.slide.active{
    display: flex;
}

/* ЛЕВАЯ ЧАСТЬ */

.slide-info{
    width: 50%;
    position: relative;

    margin-top: 0px;
}

.slide-info img{
    width: 100%;
    height: auto;
    border-radius: 25px;
    display: block;
}

/* кнопка */

.book-btn{
    position: absolute;
    bottom: 20px;
    left: 20px;

    background: #5B8AA4;
    color: white;

    border: none;
    padding: 12px 25px;
    border-radius: 25px;

    font-weight: 600;
}

/* ПРАВАЯ ЧАСТЬ */

.slide-photo{
    width: 50%;
    position: relative;

    margin-left: -60px;
    margin-top: -200px;
    z-index: 2;
}

.slide-photo img{
    width: 100%;
    height: auto;

    border-radius: 25px;

    display: block;
}

/* БРОНИРОВАНИЕ */

.booking-modal{
    border-radius: 30px;
    border: none;
}

.booking-modal .modal-title{
    font-size: 28px;
    font-weight: 600;
}

.booking-modal .form-control{
    border-radius: 15px;
    padding: 14px;
}

.submit-booking-btn{
    width: 100%;

    background: #5B8AA4;
    color: white;

    border: none;

    border-radius: 25px;

    padding: 14px;

    font-size: 18px;
    font-weight: 600;

    transition: .3s;
}

.submit-booking-btn:hover{
    opacity: .9;
}

/* БЛОК С ПРЕИМУЩЕСТВАМИ */

.advantages-image-section{
    width: 100%;
}

.advantages-image-section img{
    width: 100%;

    height: auto;

    display: block;
}


/* REVIEWS */

.reviews-section{

    background-image: url('../images/reviews-bg.jpg');

    background-size: cover;
    background-position: center;

    width: 100%;

    position: relative;
}

.reviews-overlay{

    background: rgba(255,255,255,0.5);

    padding: 120px 0;
}

.reviews-title-image{

    margin-bottom: 80px;
    margin-left: -100px;
}

.reviews-title-image img{

    width: auto;

    height: 60px;

    display: block;
}

.reviews-slider{

    display: flex;

    align-items: center;
    justify-content: space-between;

    gap: 40px;
}

.reviews-content{

    max-width: 850px;

    margin: 0 auto;

    height: 280px;
}

.review{
    display: none;
}

.review.active{
    display: block;
}

.review-text{

    font-size: 30px;

    line-height: 1.5;

    color: black;

    text-align: left;

    margin-bottom: 40px;
}

.review-author{

    text-align: right;

    color: #9C9C9C;

    font-size: 24px;

    margin: 0;
}

/* стрелки */

.review-arrow{

    width: 60px;
    height: 60px;

    border-radius: 50%;

    border: none;

    background: #5B8AA4;

    color: white;

    font-size: 26px;

    cursor: pointer;

    flex-shrink: 0;
}

/* FOOTER */

.footer{

    background: #5B8AA4;

    padding-top: 70px;
    padding-bottom: 30px;

    color: white;
}

.footer-content{

    display: flex;

    justify-content: space-between;

    gap: 60px;

    margin-bottom: 60px;
}

.footer-column{

    display: flex;

    flex-direction: column;
}

.footer-column h3{

    font-size: 28px;

    margin-bottom: 25px;

    font-weight: 600;
}

.footer-column p,
.footer-column a{

    color: white;

    text-decoration: none;

    font-size: 18px;

    margin-bottom: 12px;

    line-height: 1.5;
}

.call-btn{

    margin-top: 20px;

    background: #AACBDD;

    color: #000;

    border: none;

    border-radius: 30px;

    padding: 15px 35px;

    font-size: 18px;

    font-weight: 600;

    width: fit-content;

    transition: .3s;
}

.call-btn:hover{

    transform: translateY(-2px);
}

.footer-bottom{

    border-top: 1px solid rgba(255,255,255,.3);

    padding-top: 25px;

    font-size: 16px;
}

/* КНОПКА НАВЕРХ */

#scrollTopBtn{

    display: none;

    position: fixed;

    right: 30px;
    bottom: 30px;

    width: 60px;
    height: 60px;

    border: none;

    border-radius: 50%;

    background: #5B8AA4;
    color: white;

    font-size: 26px;

    cursor: pointer;

    z-index: 99999;

    /* ВАЖНО — центрирование */
    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 1;
}